<html>
  <head>
    <title>게시글 보기</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />
  </head>
  <body>
    <div class="container">
      <h1><%=post.title %></h1>
      <section>
        <h4><%=post.author %></h2>
        <p><%=post.content %></p>
      </section>
      <a href="/list" class="button">목록</a>
      <a href="/edit/<%=post['id']%>" class="button">수정</a>
      <a href="/remove/<%=post['id']%>" class="button">삭제</a>
    </div>
  </body>
</html>
